.Dasboard{
    padding: 2%;
}

.Dasboard .container {
    padding: 2%;
    background-color: #ddffaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}


.Dasboard #cards{
    overflow-y: scroll;
    height: 45vh;
}


.Dasboard #selectType select{
    display: block;
    width: 50%;
    margin: auto;
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1)
}


.Dasboard input{
    display: block;
    width: 100%;
    margin: auto;
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1)
}


.Dasboard button{
    display: block;
    width: 100%;
    margin: auto;
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1)
}

.Dasboard #selectPokemon{
    margin-right: 4%;
}

