.Pagination .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.Pagination .row {
  padding: 1%;
  overflow-y: scroll;
  height: 10vh;
}

.Pagination .col-3 {
  margin: 20px;
}
#pagination-link {
  padding: 5px;
  border-radius: 30px;
  border-style: solid;
  transition: background-color 0.3s;
}

#pagination-link:hover {
  background-color: rgb(171, 235, 171);
  cursor: pointer;
}
