.Card{
    background-color: rgba(0,0,0,0.2);
    height: 500px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.Card-img{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

h2,h3,h4,h5,h6{
    display: block;
}
