.Logout button {
    display: block;
    margin: auto;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  
.Logout button:hover {
    background-color: rgb(235, 184, 171);
    cursor: pointer;
  }