

.Login {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  border-radius: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  animation-name: login-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
  transition: all 0.3s;
}

@keyframes login-animation {
  0% {
    background-color: rgb(255, 166, 0);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: rgb(255, 166, 0);
  }
}



.Login button {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.Login button:hover {
  background-color: rgb(171, 235, 171);
  cursor: pointer;
}


.Login #inputs {
  width: 100%;
  margin: auto;
}

.Login input {
  width: 100%;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 300%;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.Login input:focus {
  outline: none;
  background-color: greenyellow;
}

.Login input:valid {
  outline: none;
  background-color: greenyellow;
}

.Login input:invalid{
  outline: none;
  background-color: rgb(255, 47, 47);
}


.Login h2 {
  font-size: 300%;
}


@media only screen and (max-width: 1600px) {
  .Login input{
    font-size: 120%;
  }
  .Login h2 {
    font-size: 120%;
  }
}