h3 {
  text-align: center;
}

.Navbar .Navbar-brand {

  background-color: #f5f5f5;
  float: right;
  width: 1%;
  height: 100vh;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  animation-name: view-menu-animation;
  /* repeat animation*/
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes view-menu-animation {
  0% {
    background-color: rgb(255, 166, 0);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: rgb(255, 166, 0);
  }
}

.Navbar .Navbar-brand:hover {
  width: 25%;
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .Navbar .Navbar-brand:hover {
    width: 35%;
    opacity: 1;
    height: 100vh;
  }
}

.Navbar-button {
  padding: 5px;
  border-radius: 30px;
  border-style: solid;
  transition: background-color 0.3s;
}

.Navbar-button:hover {
  background-color: rgb(171, 235, 171);
  cursor: pointer;
}

.Navbar .Navbar-brand img {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1600px) {
  .Navbar .Navbar-brand img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
  }
}
